WHATSAPP_ACCESS_TOKEN=replace_with_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=replace_with_meta_phone_number_id
ADMIN_WHATSAPP_NUMBER=+971 52 369 5478
WHATSAPP_TEMPLATE_NAME=new_booking_enquiry
WHATSAPP_TEMPLATE_LANGUAGE=en
WHATSAPP_GRAPH_API_VERSION=v23.0

